*{box-sizing: border-box;}

#fullpage{font-family: "Helvetica Neue", "Helvetica","sans-serif";}

.columnscontainer{font-size: 0;}

.header{
  background-color: #282828;
}

.logo, .label{
  display: inline-block;
  vertical-align: bottom;
}
.logo img, .label img{
  width: 100%;
}

.logo{
  width: 15%;
}

.label{
  width: 60%;
}

.navlinks{
  color: white;
  display: inline-block;
  font-size: initial;
  text-align: center;
  width: 9%;
}

.articlepath{
  font-size: 16px;
  margin: 16px 32px;
}

.homepath, .aboutpath, .currentpath{
  display: inline-block;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
}

.homepath p, .aboutpath p{
  background-color: #FCF9E4;
  color: #3E7FBB;
  padding: 8px;
}

.currentpath p{
  background-color: #D8EDF7;
  padding: 8px;
}

.article{
  font-size: medium;
  padding: 0 32px;
  width: 75%
}

.article h1{
  font-size: 40px;
}

.article h2{
  font-size: 32px;
  margin: 48px 0 0 0;
}

.article p{
  line-height: 1.6;
}

.campustext, .campusimage{
  display: inline-block;
  vertical-align: top;
}

.campustext{
  font-size: medium;
  line-height: 1.6;
  width: 50%;
}

.campustext .hotlink{
  color: #3E7FBB;
}

.campusimage{
  padding-left: 32px;
  width: 50%;
}

.campusimage img{
  padding: 16px;
  width: 100%;
}

.artschoolimage, .artschooltext{
  display: inline-block;
  vertical-align: top;
}
.artschoolimage{
  width: 30%;
}

.artschoolimage img{
  padding: 16px 16px 16px 0;
  width: 100%;
}

.artschooltext{
  font-size: medium;
  width: 70%;
}

.artschooltext{margin-top: 10px}

.artschoolcaption p{
  display: block;
  font-weight: bold;
  margin: 4px 0;
}
